name: Release to PYPI
on:
  release:
    types: [created]
jobs:
  build:
    name: Build package
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - name: Install build tools
        run: pip install -U setuptools pip wheel build
      - name: Build package
        run: python -m build
      - name: Upload artefact
        uses: actions/upload-artifact@v5
        with:
          name: package
          path: dist/

  release:
    name: Release to PYPI
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    needs:
      - build
    steps:
      - name: Download all the dists
        uses: actions/download-artifact@v6
        with:
          name: package
          path: dist/
      - name: Release to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
